includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 10
    paths:
        - src
        - db
        - public
        - bootstrap

    bootstrapFiles:
        - %currentWorkingDirectory%/bootstrap/app.php

    tmpDir: var/phpstan

    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor/*
            - %currentWorkingDirectory%/tests/*

    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
